## -*- mode: conf -*-
[user]
name = ziguzagu
email = ziguzagu@gmail.com
signingkey = 359AF850F7735C62

[color]
ui = auto

[color "diff"]
meta = 248 italic
frag = 74 italic
func = 140 no-bold italic
new  = 107
old  = 167
whitespace = white bold reverse

[color "diff-highlight"]
newNormal    = 107 no-bold
newHighlight = 107 22 no-bold
oldNormal    = 167 no-bold
oldHighlight = 167 52 no-bold

[color "status"]
updated   = 107
changed   = 167
untracked = 75

[color "branch"]
current  = 107
local    = 254
remote   = 110
upstream = 183
plain    = 248

[color "grep"]
filename   = 251 238 italic
linenumber = 74 no-bold
separator  = 74 no-bold
function   = 140 no-bold italic
match      = 214 bold

[core]
excludesfile = ~/.gitignore
whitespace   = trailing-space
pager        = diff-so-fancy | less -FSX

# https://help.github.com/en/github/using-git/caching-your-github-password-in-git
[credential]
helper = osxkeychain

[diff]
indentHeuristic = true

[grep]
patternType = perl

[commit]
verbose = true
gpgSign = true

[tag]
gpgSign = true

[diff-so-fancy]
stripLeadingSymbols = false

# XXX: git 2.17.0 doens't work well with this.
# see https://github.com/so-fancy/diff-so-fancy/issues/35
# [interactive]
# diffFilter = diff-so-fancy

[alias]
up = !git pull --rebase && git submodule update --init --recursive
di = diff
dc = diff --cached
ci = commit
st = status -s
co = checkout
pick = cherry-pick
br = branch
sw = switch
cs = ci-status -v
ls = ls-files
discard = restore
amend = ci --amend --no-edit
unstage = reset HEAD --
uncommit = reset HEAD~
last = log -1 HEAD
url = config --get remote.origin.url
publish = !git push -u origin $(git current-branch)
unpublish = !git push origin :$(git current-branch)
upstream = !git rev-parse --abbrev-ref --symbolic-full-name @{u} 2>/dev/null
s = grep --heading --break --line-number --color --show-function
current-branch = branch --show-current
default-branch = !basename $(git symbolic-ref --short refs/remotes/origin/HEAD)
prune-branches = !git branch --merged | grep -v '\\* ' | xargs -n 1 git branch -d

[push]
default = current

[rebase]
autostash = true

[fetch]
prune = true

[checkout]
defaultRemote = origin

[ghq]
root = ~/src

[filter "hawser"]
clean = git hawser clean %f
smudge = git hawser smudge %f
required = true

[filter "lfs"]
clean = git lfs clean %f
smudge = git lfs smudge %f
required = true
