[user]
name = ziguzagu
email = ziguzagu@gmail.com

[color]
ui = auto

[color "diff"]
meta = yellow
frag = blue bold
whitespace = white bold reverse

[color "status"]
untracked = blue bold

[color "branch"]
current = green ul
local = yellow
remote = magenta

[github]
user = ziguzagu
token = be5c0351d21d18f05bc4d6d20c4b242e

[core]
excludesfile = ~/.gitignore
whitespace = trailing-space

[alias]
up = pull --rebase
di = diff
dc = diff --cached
ci = commit -v
st = status -sb
co = checkout
cp = cherry-pick
br = branch
hist = log --graph --pretty=format:'%C(blue bold)%h%C(cyan)%d%Creset %s %C(black bold)(%ci)%Creset' --decorate
unstage = reset HEAD --
last = log -1 HEAD
info = config --get remote.origin.url
## for hub
web = browse

[push]
default = current
