## -*- mode: conf -*-
[user]
name = ziguzagu
email = ziguzagu@gmail.com

[color]
ui = auto

[color "diff"]
meta = yellow
frag = blue bold
whitespace = white bold reverse

[color "status"]
untracked = blue bold

[color "branch"]
current = green bold
local = yellow
remote = magenta

[color "grep"]
filename   = green
linenumber = blue bold
function   = cyan
match      = red ul

[core]
excludesfile = ~/.gitignore
whitespace   = trailing-space
pager        = diff-so-fancy | less -FX

[credential]
helper = osxkeychain

[diff]
indentHeuristic = true

[grep]
patternType = perl

[diff-so-fancy]
stripLeadingSymbols = false

# XXX: git 2.17.0 doens't work well with this.
# see https://github.com/so-fancy/diff-so-fancy/issues/35
# [interactive]
# diffFilter = diff-so-fancy

[alias]
up = !git pull --rebase && git submodule update --init --recursive
di = diff
dc = diff --cached
ci = commit -v
st = status -sb
co = checkout
pick = cherry-pick
br = branch
amend = ci --amend --no-edit
unstage = reset -q HEAD --
uncommit = reset --mixed HEAD~
history = log --graph --branches --remotes --tags --format='%C(cyan)%h%Creset %<|(75,trunc)%s %C(black bold)(%cr)%Creset%C(yellow)%d'
last = log -1 HEAD
info = config --get remote.origin.url
current = rev-parse --abbrev-ref HEAD
publish = !git push -u origin $(git current)
unpublish = !git push origin :$(git current)
upstream = "!sh -c 'git rev-parse --abbrev-ref --symbolic-full-name @{u} 2>/dev/null'"
remaster = "!sh -c 'branch=`git rev-parse --abbrev-ref HEAD` && git co master && git pull origin master && git co $branch && git rebase master'"
ag  = grep --heading --break --line-number --color --show-function

[push]
default = current

[rebase]
autostash = true

[ghq]
root = ~/src

[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
